* {
  margin : 0;
  padding : 0;
  border : 0;
}

body {
  padding : 40px 0 0 40px;
  width: 350px;
}

li{
  line-height:1.5em;
}

.basket h3 {
  text-align : center;
  margin-bottom : 20px;
  border : 1px solid black;
  padding : 5px 0;
}

.basket li {
  border-bottom : 1px solid gray;
  margin-top : 5px;
}

.basket li:last-child {
  border : none;
  margin-bottom : 5px;
}

.basket ol {
  padding : 0 20px 0 25px;
  border : 1px solid black;
  position: relative;
}

.message {
  margin-top : 10px;
  font-size:0.9em;
  border : 1px solid black;
  height: 1.5em;
  padding : 5px 0 0 10px;
}

.controller {
  border : 1px solid black;
  margin-top : 10px;
  padding : 0 10px;
}

.controller div {
  margin-top : 5px;
}

.controller div:last-child {
  margin-bottom: 5px;
}

.controller input {
  width: 70%;
  height: 25px;
  border: 1px solid black;
  font-size : 0.8em;
}

.controller button {
  width: 28%;
  height: 25px;
  font-size : 0.8em;
  outline : 0;
}

.delete {
  width: 20px;
  position : absolute;
  right: 20px;
}

.completeCheck {
  position : absolute;
  right: 60px;
}
